doctype html
html
  head
    title my jade template
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

h1.heading Admin Login
.container.form
   label(for="text") Name
   input(type="text", name="text" )

   label(for="password") Password
   input(type="password", name="password")

   input(type="submit", value="Submit" class="submitBtn")

   img(src="https://picsum.photos/200/300", alt="https://picsum.photos/200/300")

   a(href="http://localhost:3000") LINK