extends layout

block content

  a(href="http://localhost:3000/admin") ADMIN
  h1= "Form"

  p Welcome to #{title} Asil

  p Name 
  input(type="text", name="password")

  p Password 
  input(type="password", name="password")

  p Email
  input(type="email", name="email")

  input(type="button", value="Submit")


